body {
  background: url("./Riga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
